<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h2>To Do List</h2>

        <h3>To Do</h3>
        <h4>Project Setup</h4>
        <ul>
            <li>
                Decide on URL for finished app -- unco-bacs.org/bacs_350/solution/13
            </li>
            <li>
                Create general to do list templates/todo.html
            </li>
            <li>
                Project milestones
                <ul>
                    <li>
                        Project setup
                    </li>
                    <li>
                        Create database
                    </li>
                    <li>
                        List records
                    </li>
                    <li>
                        Add records
                    </li>
                    <li>
                        Test
                    </li>
                </ul>
            </li>
            <li>
                Setup workflow
                <ul>
                    <li>
                        Project source code directory and shortcuts
                    </li>
                    <li>
                        Local and remote testing
                    </li>
                    <li>
                        Link from outside
                    </li>
                    <li>
                        To Do list
                    </li>
                    <li>
                        Bookmark local phpmyadmin
                    </li>

                </ul>
            </li>

            <li>
                Build starting page
            </li>
            <li>
                Deploy starter page & test
            </li>
        </ul>


        <h4>Create database</h4>
        <ul>
            <li>
                Define data model
                <p>Database - books</p>
                <p>Table - books</p>
                <ul>
                    <li>author</li>
                    <li>title</li>
                    <li>summary</li>
                </ul>
            </li>
            <li>
                Create database at Bluehost
            </li>
            <li>
                Create local database
            </li>
            <li>
                Create database & tables
                <ul>
                    <li>New database "books"</li>
                    <li>Create table "books"</li>
                    <li>id, author, title, summary</li>
                    <li>Insert "Tale of Two Cities"</li>
                </ul>
            </li>
            <li>
                Debug db.php
            </li>

        </ul>


        <h4>List records</h4>
        <ul>
            <li>
                Create select.php to list records
            </li>
            <li>
                Require select.php in index.php
            </li>


        </ul>


        <h4>Add records</h4>
        <ul>
            <li>
                Create insert.php to add record
            </li>
            <li>
                Go to insert.php in index.php
            </li>
            <li>
                After insert go to list
            </li>
        </ul>


        <h4>Test</h4>
        <ul>
            <li>
                Bookmark for local test and remote test
            </li>
            <li>
                Create test.php with page links from template
            </li>
            <li>
                Test page at unco-bacs.org
            </li>
            <li>
                Test page at localhost
            </li>
        </ul>


        <!--
            Remove this code from the view
        -->

        <h3>Done</h3>

    </body>
</html>